<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %}
      <input type="text" placeholder="fname" name="fName" />
      <input type="text" name="lName"  placeholder="lname"/>
      <input type="text" name="phone" placeholder="phone" />
      <input type="text" name="roll" placeholder="roll"/>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
